*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(#ecdbb3 50%, #a0a5d1 50% ) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: fantasy;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 22px;
}

main{
    margin-top: 2rem;
}

.username{
    font-size: 38px;
}

.slack-image {
    width: 200px;
    height: 250px;
    border-radius: 15%;
    margin-top: 2rem;
}

.weekday {
    font-size: 20px;
    margin-top: 2rem;
    font-weight: 700;
}

.current-time{
    font-size: 20px;
    margin-top: 2rem;
    font-weight: 700;
}

.myTrack{
    font-size: 20px;
    margin-bottom: 2rem;
    font-weight: 700;
}

.github{
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}